.rowsixteen {
  background-color: white;
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.rowsixteen h3 {
  padding: 3px 10px;
  font-family: var(--bold-font);
  font-weight: 400;
}

.rowsixteen__cards {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  white-space: nowrap;
  margin: 10px auto;
  position: relative;
}

.rowsixteen__cards::-webkit-scrollbar {
  display: none;
}

@media (max-width: 800px) {
  .rowsixteen {
    margin-top: 5px;
    width: 100%;
  }
  .rowsixteen h3 {
    font-size: 12px;
  }

  .rowsixteen__cards {
    width: 100%;
  }

  .rowsixteen__header,
  .rowsixteen__header__flash {
    font-size: 10px;
  }
}
