.rowtwenty {
  background-color: white;
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.rowtwenty h3 {
  padding: 3px 10px;
  font-family: var(--bold-font);
  font-weight: 400;
}

.rowtwenty__cards {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  white-space: nowrap;
  margin: 10px auto;
  position: relative;
}

.rowtwenty__cards::-webkit-scrollbar {
  display: none;
}

@media (max-width: 800px) {
  .rowtwenty {
    margin-top: 5px;
    width: 100%;
  }
  .rowtwenty h3 {
    font-size: 12px;
  }

  .rowtwenty__cards {
    width: 100%;
  }

  .rowtwenty__header,
  .rowtwenty__header__flash {
    font-size: 10px;
  }
}
