.timer__show {
  display: flex;
  width: 100%;
}

.timer__show p {
  margin: auto 10px;
  color: white;
}

.timer__show p span {
  margin-left: 5px;
  font-family: var(--bold-font);
}

@media (max-width: 800px) {
  .timer__show p {
    font-size: 10px;
  }
}
