.roweight {
  background-color: white;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  padding: 10px 0px;
}

.roweight h3 {
  text-align: center;
  padding: 10px;
  font-family: var(--bold-font);
  font-weight: 400;
}

.roweight__ads {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.roweight__ads img {
  width: 33%;
  margin: 10px auto;
  cursor: pointer;
}

.roweight__ads img:hover {
  transform: scale(1.01);
}
