.rowten {
  background-color: white;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  padding: 10px 0px;
}

.rowten h3 {
  text-align: center;
  padding: 10px;
  font-family: var(--bold-font);
  font-weight: 400;
}

.rowten__ads {
  display: flex;
  justify-content: space-between;
  overflow: auto;
}

.rowten__ads::-webkit-scrollbar {
  display: none;
}

.rowten__ads img {
  width: 33%;
  margin: 10px auto;
  cursor: pointer;
}

.rowten__ads img:hover {
  transform: scale(1.01);
}

@media (max-width: 800px) {
  .rowten {
    width: 100%;
    margin-top: 10px;
  }

  .rowten h3 {
    font-size: 12px;
  }

  .rowten__ads img {
    width: 80%;
    margin: 5px;
  }
}
