.rowtwo {
  background-color: white;
  width: 90%;
  margin: auto;
}

.rowtwo h3 {
  padding: 3px 10px;
  font-weight: bolder;
}

.rowtwo__cards {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  white-space: nowrap;
  margin: 10px auto;
  position: relative;
}

.rowtwo__cards::-webkit-scrollbar {
  display: none;
}

@media (max-width: 800px) {
  .rowtwo {
    margin-top: 5px;
  }
  .rowtwo h3 {
    font-size: 12px;
  }

  .rowtwo__cards {
    width: 100%;
  }
}
