.roweighteen {
  background-color: white;
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.roweighteen h3 {
  padding: 3px 10px;
  font-family: var(--bold-font);
  font-weight: 400;
}

.roweighteen__cards {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  white-space: nowrap;
  margin: 10px auto;
  position: relative;
}

.roweighteen__cards::-webkit-scrollbar {
  display: none;
}
