.roweighteen {
  background-color: white;
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.roweighteen h3 {
  padding: 3px 10px;
  font-family: var(--bold-font);
  font-weight: 400;
}

.roweighteen__cards {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  white-space: nowrap;
  margin: 10px auto;
  position: relative;
}

.roweighteen__cards::-webkit-scrollbar {
  display: none;
}

@media (max-width: 800px) {
  .roweighteen {
    margin-top: 5px;
    width: 100%;
  }
  .roweighteen h3 {
    font-size: 12px;
  }

  .roweighteen__cards {
    width: 100%;
  }

  .roweighteen__header,
  .roweighteen__header__flash {
    font-size: 10px;
  }
}
