.card__three {
  padding: 10px;
  cursor: pointer;
}

.card__three:hover {
  scale: 1.01;
}

.card__three__tag {
  position: absolute;
  color: var(--orange);
  background: var(--orange-background);
  padding: 3px;
  top: 0;
  left: 130px;
}

.card__three__img {
  position: relative;
  width: 180px;
}

.card__three__img img {
  width: 100%;
  margin: 2px;
}

.card__three__name {
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
}

.card__three__price {
  font-family: var(--bold-font);
}

.card__three__price__slash {
  font-size: 12px;
  font-weight: 800;
  text-decoration: line-through;
  width: 100%;
}

.card__three__price__slash.none {
  width: 100%;
}

.card__three__items__left p {
  font-size: 12px;
  margin: 5px 0px;
}

@media (max-width: 800px) {
  .card__three {
    width: 60%;
  }

  .card__three__img {
    width: 100%;
  }

  .card__three__img img {
    width: 100%;
    height: 100px;
  }

  .card__three__tag {
    padding: 3px;
    top: 0;
    left: 70px;
    font-size: 10px;
  }

  .card__three__name {
    font-size: 10px;
    font-weight: 400;
  }

  .card__three__price {
    font-size: 10px;
    font-weight: 400;
  }

  .card__three__price__slash {
    display: none;
  }
}
